@tailwind base;
@tailwind components;
@tailwind utilities;


.outlineSpace{
    min-height: calc(100vh - 60px) !important;
  }


  input[type="checkbox"]  {
    /* Increase the width and height for a larger checkbox */
    width: 20px;
    height: 20px;
     accent-color: rgb(152, 22, 240);
  }